<!-- get nonce -->
<script type="application/javascript">
    document['adi2'] = document['adi2'] || {};
    document['adi2']['security'] = '{{ nonce }}';
</script>

{% set sites = getSites() %}
{% set profileIDs = findAllProfileIds() %}
{% set defaultProfileID = findDefaultProfileId() %}
{% set NEXT_AD_INT_I18N = constant('NEXT_AD_INT_I18N') %}
{% set searchText = 'Search'|__(NEXT_AD_INT_I18N) %}

<h1>{{ 'Profile assignment'|__(NEXT_AD_INT_I18N) }}</h1>

<div class="wrap">
    <form method="post">
        <span>{{ 'Default profile'|__(NEXT_AD_INT_I18N) }}</span>
        <span>
            <select name="profile">
                <option value="-1">{{ '--- None assigned'|__(NEXT_AD_INT_I18N) }}</option>
                {% for profileID in profileIDs %}
                    {% if profileID == defaultProfileID %}
                        {% set selected = 'selected' %}
                    {% else %}
                        {% set selected = '' %}
                    {% endif %}
                    <option value="{{ profileID }}" {{ selected }}>{{ findProfileName(profileID) }}</option>
                {% endfor %}
            </select>
        </span>

        <button id="assignDefaultProfile" type="submit" class="button button-primary">{{ 'Apply'|__(NEXT_AD_INT_I18N) }}</button>
    </form>
</div>

<div class="wrap">
    <form method="post">
        <div>{{ table.search_box(searchText, 'site-list') }}</div>
        <div>{{ table.display() }}</div>
        <div>
            <div>{{ 'Change selected blogs to profile'|__(NEXT_AD_INT_I18N) }}</div>
            <div>
                <select name="profile">
                    <option value="-1">{{ '--- Use default profile'|__(NEXT_AD_INT_I18N) }}</option>
                    {% for profileID in profileIDs %}
                        <option value="{{ profileID }}">{{ findProfileName(profileID) }}</option>
                    {% endfor %}
                </select>

                <button id="assignProfile" type="submit" class="button button-primary">{{ 'Apply'|__(NEXT_AD_INT_I18N) }}</button>
            </div>
        </div>
    </form>
</div>