{% set NEXT_AD_INT_I18N = constant('NEXT_AD_INT_I18N') %}
{% set next_ad_int_i18n_warning_discard_changes = 'The current profile contains unsaved changes. Are you sure you want to continue?'|__(NEXT_AD_INT_I18N) %}
{% set next_ad_int_i18n_delete_profile_associated_sites = 'The current profile is associated with the following sites:' | __(NEXT_AD_INT_I18N) %}
{% set next_ad_int_i18n_delete_profile_associated = 'The current profile is associated with {{ associations.length }} sites. Are you sure you want to delete this profile?' | __(NEXT_AD_INT_I18N) %}
{% set next_ad_int_i18n_assign_new_profile = 'Assign to profile:'| __(NEXT_AD_INT_I18N) %}
<!-- get nonce -->
<script type="application/javascript">
    document['next_ad_int'] = document['next_ad_int'] || {};
    document['next_ad_int']['security'] = '{{ nonce }}';
    document['next_ad_int']['blog-rel-security'] = '{{ blog_rel_nonce }}';
    document['next_ad_int']['new-profile'] = new next_ad_int.model.Profile(null, '{{ 'New Profile'|__(NEXT_AD_INT_I18N) }}');
    document['next_ad_int']['none-profile'] = new next_ad_int.model.Profile(-1, '{{ 'None'|__(NEXT_AD_INT_I18N) }}');

    // I18N
    document['next_ad_int']['i18n'] = document['next_ad_int']['i18n'] || {};
    document['next_ad_int']['i18n']['discard-changes'] = '{{ next_ad_int_i18n_warning_discard_changes }}';
    document['next_ad_int']['i18n']['delete-profile'] = {
        associatedSites: '{{ next_ad_int_i18n_delete_profile_associated_sites }}',
        associated: '{{ next_ad_int_i18n_delete_profile_associated }}'
    };
</script>
<div ng-app="next_ad_int-module">
    <div ng-controller="ProfileController">
        <h1>Profile Options</h1>
        <span>{{ 'Configure Settings for Profile : '|__(NEXT_AD_INT_I18N) }}</span>
        <span>
             <select ng-model="activeProfile"
                     ng-change="changeProfile(activeProfile, true)"
                     ng-options="profile.profileName for profile in profiles"></select>
                    <button class="button button-primary" ng-click="create()" ng-disabled="runningRequests > 0">
                        {{ 'Create new profile'|__(NEXT_AD_INT_I18N) }}
                    </button>
                    <button class="button" ng-click="remove(activeProfile)"
                            ng-disabled="runningRequests > 0 || activeProfile['profileId'] == -1">
                        {{ 'Delete profile'|__(NEXT_AD_INT_I18N) }}
                    </button>
        </span>
        <form class="form adi-form ng-hide" name="form" ng-hide="-1 === activeProfile.profileId">
            <div class="block-ui" ng-hide="runningRequests == 0"></div>

            {% import "option/page.twig" as optionPage %}
            {{ optionPage.create("next_ad_int_profile_configuration", 1) }}
        </form>
    </div>

    <div id="delete-confirm" ng-controller="DeleteController">
        <div class="alertify ng-hide" ng-hide="!show">
            <div class="dialog">
                <div>
                    <div id="next_ad_int-modal-content">
                        {# show this template only if there a more than 5 or less than 1 associated profiles #}
                        <div ng-hide="showProfileList">
                            <p>{{ next_ad_int_i18n_delete_profile_associated }}</p>

                            <p ng-hide="associations.length == 0">
                                <a target="_blank"
                                   ng-href="{{ blog_profile_relationship_url }}&id={{ '{{ associationIds }}' }}">
                                    {{ 'View associated profiles'|__(NEXT_AD_INT_I18N) }}
                                </a>
                            </p>
                        </div>

                        {# show this template only if there a less than 6 and more than 0 associated profiles #}
                        <div ng-hide="!showProfileList">
                            <p>{{ next_ad_int_i18n_delete_profile_associated_sites }}</p>
                            <ul>
                                <li ng-repeat="association in associations" ng-bind="association.path">test</li>
                            </ul>
                            <hr/>
                            <div>
                                {{ next_ad_int_i18n_assign_new_profile }}

                                <select ng-model="newProfile">
                                    <option value="{{ '{{ profile.profileId }}' }}"
                                            ng-repeat="profile in profiles | filter:newProfileFilter">{{ '{{ profile.profileName }}' }}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <p></p>
                    <nav>
                        <button class="cancel" tabindex="-1" ng-click="cancel()">Cancel</button>
                        <button class="ok" tabindex="-1" ng-click="confirm()">Ok</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>