<!-- get nonce -->
<script type="application/javascript">
    document['next_ad_int'] = document['next_ad_int'] || {};
    document['next_ad_int']['security'] = '{{ nonce }}';
</script>

{% set NEXT_AD_INT_I18N = constant('NEXT_AD_INT_I18N') %}
{% set profileIDs = findAllProfileIds() %}

<h1>{{ 'Administrate Profiles'|__(NEXT_AD_INT_I18N) }}</h1>
<div ng-app="profileAdministration" ng-controller="profileAdministrationController">
<table class="form-table">
    {# head with table titles#}
    <tr>

        <th scope="row">
            <h3>{{ 'Name :'|__(NEXT_AD_INT_I18N) }}</h3>
        </th>

        <td>
            <h3>{{ 'Description :'|__(NEXT_AD_INT_I18N) }}</h3>
        </td>

    </tr>

    {% for profileID in profileIDs %}
        {% set spanId = 'change_profile_span__' ~ profileID %}
        {% set nameId = 'change_profile_name__' ~ profileID %}
        {% set descriptionId = 'change_profile_description__' ~ profileID %}

        <tr>

            <th scope="row">
                {{ findProfileName(profileID) }}
            </th>

            <td>
                {{ findProfileDescription(profileID) }}

                <div class="row-actions visible">
                    <span class="edit">
                        <a class="change_profile_link edit" target="{{ spanId }}">{{ 'Edit'|__(NEXT_AD_INT_I18N) }}</a>
                        |
                    </span>
                    <span class="delete">
                        <a class="delete_profile_link delete" target="{{ profileID }}" message="{{ 'Do you want to delete this profile?'|__(NEXT_AD_INT_I18N) }}">{{ 'Delete'|__(NEXT_AD_INT_I18N) }}</a>
                    </span>
                </div>

                <br>

                <span id="{{ spanId }}" class="change_profile_span" style="display: none">
                    <label for="{{ nameId }}">{{ 'New Name:'|__(NEXT_AD_INT_I18N) }}</label>
                    <input id="{{ nameId }}" type="text">
                    <label for="{{ descriptionId }}">{{ 'New Description:'|__(NEXT_AD_INT_I18N) }}</label>
                    <input id="{{ descriptionId }}" type="text">
                    <button class="change_profile_button button button-primary" target_id="{{ profileID }}"
                            target_name="{{ nameId }}"
                            target_description="{{ descriptionId }}">{{ 'Change'|__(NEXT_AD_INT_I18N) }}</button>
                </span>

            </td>

        </tr>

    {% endfor %}

    {# head with table titles#}
    <tr>

        <th scope="row">
            <span class="edit">
                <a id="addProfileLink" class="edit">{{ 'Add'|__(NEXT_AD_INT_I18N) }}</a>

            </span>
        </th>

        <td>
                <label for="addProfileName">{{ 'Name:'|__(NEXT_AD_INT_I18N) }}</label>
                <input id="addProfileName" type="text" ng-model="newProfileName">
                <label for="addProfileDescription">{{ 'Description'|__(NEXT_AD_INT_I18N) }}</label>
                <input id="addProfileDescription" type="text" ng-model="newProfileDescription">
                <button class="button-primary" busy-disabled="true" busy="{{ 'Please wait...'|__(NEXT_AD_INT_I18N) }}" ng-click="save()">{{ 'Save'|__(NEXT_AD_INT_I18N) }}</button>
        </td>

    </tr>
</table>

</div>
