{% set NEXT_AD_INT_I18N = constant('NEXT_AD_INT_I18N') %}
{% if status is defined %}
    {% set logs = log  %}
    {% for logLine in logs %}
        {{logLine}}<br>
    {% endfor %}
    {% if status == true %}
        <p style="color:green">
        {{ message }}
        </p>
    {% else %}
        <p style="color:red">
        {{ message }}
        </p>
    {% endif %}
{% endif %}

<h1>{{ 'Sync to WordPress'|__ }}</h1>

<div>
    {{ 'If you want to trigger Sync to WordPress, you must know the URL to the index.php of your blog:'|__(NEXT_AD_INT_I18N) }}</br>
    {{ 'Settings like auth-code etc. depends on the current blog. So be careful which blog you are using. Here are some examples:'|__(NEXT_AD_INT_I18N) }}</br>
    <code>curl --data "next_ad_int-task=sync-to-wordpress&auth-code={{ authCode }}" {{ blogUrl }}/wp-admin/admin.php</code></br>
    <code>wget --post-data "next_ad_int-task=sync-to-wordpress&auth-code={{ authCode }}" {{ blogUrl }}/wp-admin/admin.php</code>
</div>

<br>

<form method="post">
    <input type="hidden" name="security" value="{{ nonce }}"/>
    <input type="submit" name="syncToWordpress" class="button button-primary" value="{{ status is defined ? 'Repeat AD to WordPress synchronization'|__(NEXT_AD_INT_I18N) : 'Start AD to WordPress synchronization'|__(NEXT_AD_INT_I18N) }}"/>
</form>
