<table class="form-table">
    <tr valign="top">
        <th scope="row">{{ i18n.userDisabled }}</th>
        <td>
            <fieldset>
                <legend class="screen-reader-text">
                    <span>{{ i18n.userDisabled }}</span>
                </legend>
                <label for="user_disabled">
                    <input type="hidden" name="next_ad_int_user_disabled" value="0"/>
                    <input type="checkbox" name="next_ad_int_user_disabled"
                           id="user_disabled" {{ userDisabled ? 'checked' : '' }} value="1"/>
                    {{ i18n.emailWillBeChanged }}
                </label>

                {% if userDisabled %}
                    <p class="description">{{ i18n.informationOnLastDisabling ~ disabledReason }}</p>
                {% endif %}

                <p class="description">{{ i18n.warning }}</p>
            </fieldset>
        </td>
    </tr>
</table>